.add_style{  
    width: fit-content;
    display: flex;
    align-items: center;
    gap:20px;
    transition: order 0.4s;
    background-color: grey;
    
}
img{
    padding:10px;
}
.addcolor1{
    background-color: aquamarine;
}
.addcolor2{
    background-color: tomato;
}

.img1{
   background-color: goldenrod;
}
.img2{
background-color: blueviolet;
}
.grid_paraent{
 display: grid;
 grid-template-columns: repeat(3,200px);
 grid-template-rows: repeat(3,100px);
 gap:10px;
}
.div{
    background-color: blue;
}
.division4{
    grid-column: span 2;
    grid-row: span 2;
}